<h1>My Wishlist</h1>
<p><%= link_to @group.name, group_path(@group) %></p>

<div class="box">
  <%= form_with model: @membership, url: group_membership_path(@group, @membership) do |form| %>
    <p>
      <%= form.label :wishlist, "Wishlist:" %>
      <%= form.text_area :wishlist %>
    </p>

    <%= form.submit "Save" %>
  <% end %>
</div>
