<h1>My Wishlist</h1>

<div class="menu">
  <%= link_to "« Back to group", group_path(@group) %>
</div>

<div class="box">
  <%= form_with model: @membership, url: group_membership_path(@group, @membership) do |form| %>
    <p>
      <%= form.label :wishlist, "Wishlist:" %>
      <%= form.text_area :wishlist, class: "wishlist-field" %>
    </p>

    <p><%= form.submit "Save" %></p>
  <% end %>
</div>
