<%= form_with model: group do |form| %>
  <p>
    <%= form.label :name, "Name:" %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :description, "Description:" %>
    <%= form.text_area :description %>
  </p>

  <p><%= form.submit "Save" %></p>
<% end %>
