<h1><%= @group.name %></h1>

<div class="menu">
  <% if current_user.admin?(@group) %>
    <%= link_to "Edit group", edit_group_path(@group) %>
  <% end %>

  <%= link_to "My wishlist", edit_group_membership_path(@group, current_user.membership(@group)) %>

  <% unless @group.names_drawn? %>
    <%= link_to "Invite people", new_group_membership_path(@group) %>

    <% unless current_user.admin?(@group) %>
      <%= link_to "Leave group", group_membership_path(@group, current_user.membership(@group)), method: :delete %>
    <% end %>
  <% end %>

  <% if current_user.admin?(@group) && @group.can_draw_names? %>
    <%= button_to "Draw names!", group_exchanges_path(@group), method: :post %>
  <% end %>

  <% if @exchange %>
    <%= button_to "Who did I get?", group_exchange_path(@group, @exchange), method: :get %>
  <% end %>
</div>

<div class="box">
  <div class="box-header">
    <p class="title">Description</p>
  </div>

  <p><%= @group.description %></p>
</div>

<div class="box">
  <div class="box-header">
    <p class="title">Members</p>

    <% unless @group.names_drawn? %>
      <div class="box-menu">
        <%= link_to "Edit", group_memberships_path(@group) %>
      </div>
    <% end %>
  </div>


  <div class="members">
    <% @group.memberships.each do |member| %>
      <%= link_to group_membership_path(@group, member) do %>
        <div class="member">
          <%= display_avatar(member.user) %>

          <span><%= member.name %></span>

          <%= render "memberships/status", member: member %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="box">
  <div class="box-header">
    <p class="title">Status</p>
  </div>

  <% if @group.names_drawn? %>
    <p>
      Names have been drawn!
      <%= link_to "Check out who you got", group_exchange_path(@group, @exchange) %>.
    </p>
  <% else %>
    Draw pending. Names can only be drawn once the group has more than 2 members and all of them are confirmed.
  <% end %>
</div>
